<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">


    <div th:fragment="headline (txt)">
        <div class="container">
            <br>
            <header>
                <h5 class="text-center">
                    hi <span th:if="${currentUser != null}" th:text="${currentUser.getLoginName()}"></span>
                    <span th:if="${currentUser == null}">unbekannte/ unbekannter</span>
                    :: <span th:if="${txt != null }" th:text="${txt}"></span>
                </h5>
            </header>
            <br>
        </div>
    </div>

    <div th:fragment="nav (all)">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <img th:href="@{/index/}" th:src="@{/img/pizza.png}" alt="Pizza" width="50" height="50">
                <a class="navbar-brand p-1 mr-5" th:href="@{/index/}"><strong>PizzaForever-App</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#thenavbarDefault" aria-controls="thenavbarDefault"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="thenavbarDefault">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item navbar-nav p-1"
                            th:if="${currentUser!=null and #strings.toString(currentUser.user.role) == 'ADMIN'}">
                            <form th:action="@{/users/managed}" method="post">
                                <input type="submit" class="btn btn-outline-secondary"
                                       value="verwaltete nutzer">
                            </form>
                        </li>

                        <li class="nav-item navbar-nav p-1">
                            <form th:action="@{/index}" method="post">
                                <input type="submit" class="btn btn-outline-secondary"
                                       value="Auswahl">
                            </form>
                        </li>

                        <li class="nav-item navbar-nav p-1" th:if="${currentUser == null}">
                            <form th:action="@{/login}" method="get">
                                <input type="submit" class="btn btn-outline-primary"
                                       value="Einloggen">
                            </form>
                        </li>

                        <li class="nav-item navbar-nav p-1" th:if="${currentUser != null}">
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" class="btn btn-outline-success"
                                       value="Ausloggen">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <br>
    </div>
</div>
</body>
</html>