<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">


    <div th:fragment="headline (txt)">
        <div class="container">
            <br>
            <header>
                <h5 class="text-center">
                    hi <span th:if="${currentUser != null}" th:text="${currentUser.getLoginName()}"></span>
                    <span th:if="${currentUser == null}">unbekannte/ unbekannter</span>
                    :: <span th:if="${txt != null }" th:text="${txt}"></span>
                </h5>
            </header>
            <br>
        </div>
    </div>

    <div th:fragment="nav (all)">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <img alt="Pizza" height="50" th:href="@{/index/}" th:src="@{/img/pizza.png}" width="50">
                <a class="navbar-brand p-1 mr-5" th:href="@{/index/}"><strong>PizzaForever-App</strong></a>
                <button aria-controls="thenavbarDefault" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler" data-target="#thenavbarDefault"
                        data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="thenavbarDefault">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item navbar-nav p-1"
                            th:if="${currentUser!=null and #strings.toString(currentUser.user.role) == 'ADMIN'}">
                            <form method="post" th:action="@{/users/managed}">
                                <input class="btn btn-outline-secondary" type="submit"
                                       value="verwaltete nutzer">
                            </form>
                        </li>

                        <li class="nav-item navbar-nav p-1">
                            <form method="post" th:action="@{/index}">
                                <input class="btn btn-outline-secondary" type="submit"
                                       value="Auswahl">
                            </form>
                        </li>

                        <li class="nav-item navbar-nav p-1" th:if="${currentUser == null}">
                            <form method="get" th:action="@{/login}">
                                <input class="btn btn-outline-primary" type="submit"
                                       value="Einloggen">
                            </form>
                        </li>

                        <li class="nav-item navbar-nav p-1" th:if="${currentUser != null}">
                            <form method="post" th:action="@{/logout}">
                                <input class="btn btn-outline-success" type="submit"
                                       value="Ausloggen">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <br>
    </div>
</div>
</body>
</html>