<!DOCTYPE html>
<html lang="whz" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <meta charset="utf-8">
</head>
<body>

<div th:include="fragments/body :: nav (all=false)"></div>

<br>

<div class="container">
    <form action="#" class="needs-valid" enctype="multipart/form-data"
          method="post" th:action="${add} ? '/user/create/' : '/deliveryaddress/update/'+${deliveryaddress.id}"
          th:object="${deliveryaddress}">

        <div class="form-group">
            <label for="streetInput">Street</label>
            <input aria-describedby="streetHelp" class="form-control" id="streetInput"
                   maxlength="20"
                   minlength="2" name="street" placeholder="Street" required
                   th:value="${add} ? '' : ${deliveryaddress.street}" type="text">
            <div class="valid-feedback">
                Geht!
            </div>
            <div class="invalid-feedback">
                Bitte, die richtige Daten geben!
            </div>
        </div>

        <div class="form-group">
            <label for="houseNumberInput">House number</label>
            <input aria-describedby="houseNumberHelp" class="form-control" id="houseNumberInput"
                   maxlength="20"
                   minlength="2" name="houseNumber" placeholder="houseNumber" required
                   th:value="${add} ? '' : ${deliveryaddress.houseNumber}" type="text">
            <div class="valid-feedback">
                Geht!
            </div>
            <div class="invalid-feedback">
                Bitte, die richtige Daten geben!
            </div>
        </div>

        <div class="form-group">
            <label for="townInput">Town</label>
            <input aria-describedby="townHelp" class="form-control" id="townInput"
                   maxlength="20"
                   minlength="2" name="town" placeholder="town" required
                   th:value="${add} ? '' : ${deliveryaddress.town}" type="text">
            <div class="valid-feedback">
                Geht!
            </div>
            <div class="invalid-feedback">
                Bitte, die richtige Daten geben!
            </div>
        </div>

        <div class="form-group">
            <label for="postalCodeInput">Postal code</label>
            <input aria-describedby="postalCodeHelp" class="form-control" id="postalCodeInput"
                   maxlength="20"
                   minlength="2" name="postalCode" placeholder="postalCode" required
                   th:value="${add} ? '' : ${deliveryaddress.postalCode}" type="text">
            <div class="valid-feedback">
                Geht!
            </div>
            <div class="invalid-feedback">
                Bitte, die richtige Daten geben!
            </div>
        </div>
        <button type="submit">Speichern</button>
    </form>


</div>

<br>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>