<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <head th:include="fragments/header :: head">
    </head>

<body>
<div th:include="fragments/body :: nav"></div>

<div class="container">

    <h2 class="text-center" style="padding: 15px">dein Warenkorb</h2>

    <table class="table table-hover table-bordered table-sm">

        <thead>
        <tr>
            <th>Name</th>
            <th>Menge</th>
            <th>Preis+Größe</th>
            <th>Delete</th>
            <th>Change Quantity</th>
        </tr>
        </thead>

        <tbody th:each="item : ${itemList}">
        <tr>
            <td>
                <span th:text="${item.getValue().getPizza().getName()}"></span>
            </td>
            <td>
                <span th:text="${item.getValue().getQuantity()}"></span>
            </td>
            <td>
                <span th:text="${item.getValue().getPizzaSize()}"></span>
            </td>

            <td>
                <form class="tr" method="post" th:action="@{/cart/remove}">
                    <input name="itemKey" th:value="${item.getKey()}" type="hidden">
                    <button class="btn btn-outline-danger btn-sm" type="submit">
                        Delete Item
                    </button>
                </form>
            </td>
            <td>
                <div class="btn-group" role="group">
                    <form method="post" th:action="@{/cart/increase}">
                        <button class="btn btn-success" type="submit">
                            <input name="itemKey" th:value="${item.getKey()}" type="hidden">
                            <i class="fas fa-plus"></i>
                        </button>
                    </form>
                    <form method="post" th:action="@{/cart/decrease}">
                        <button class="btn btn-danger" type="submit">
                            <input name="itemKey" th:value="${item.getKey()}" type="hidden">
                            <i class="fas fa-minus"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/ordered/}" th:if="${currentUser!=null}">
        <button class="btn btn-danger btn-block btn-lg" type="button">
            Zum Bestellungen
        </button>
    </a>
    <a th:href="@{/login/}" th:if="${currentUser==null}">
        <button class="btn btn-danger btn-block btn-lg" type="button">
            Zum Bestellungen
        </button>
    </a>
    <br>
    <a th:href="@{/index/}">
        <button class="btn btn-success btn-block btn-lg" type="button">
            zum Pizza-Menü
        </button>
    </a>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>