<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <head th:include="fragments/header :: head">
    </head>

<body>
<div th:include="fragments/body :: nav"></div>

<div class="container">

    <table th:each="order : ${orderedList}" class="table table-hover table-bordered table-sm">

        <thead>
        <tr>
            <th>Ordered Id</th>
                        <th colspan="3">Ordered Items</th>

        </tr>
        </thead>


        <tbody>

        <tr>
            <td>
                <span th:text="${order.getId()}"></span>
            </td>
            <td>
                <table th:each="orderedItem : ${order.getItems()}" class="table table-hover table-bordered table-sm">

                                        <thead>
                                        <tr>
                                            <th>OrderedItem id</th>
                                            <th>Pizza Name</th>
                                            <th>Pizza Size</th>
                                            <th>Quantity</th>
                                        </tr>
                                        </thead>

                    <tbody>
                    <tr>
                        <td>
                            <span th:text="${orderedItem.getId()}"></span>
                        </td>
                        <td>
                            <span th:text="${orderedItem.getName()}"></span>
                        </td>

                        <td>
                            <span th:text="${orderedItem.getSize()}"></span>
                        </td>

                        <td>
                            <span th:text="${orderedItem.getQuantity()}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    <!--    <table class="table table-hover table-bordered table-sm">-->


    <!--        <thead>-->
    <!--        <tr>-->
    <!--            <th>Ordered Id</th>-->
    <!--        <tr>-->
    <!--            <th>Pizza Name</th>-->
    <!--            <th>Pizza Size</th>-->
    <!--            <th>Quantity</th>-->
    <!--        </tr>-->
    <!--        </tr>-->
    <!--        </thead>-->

    <!--        <tbody th:each="orderedItems : ${ordered.getItems()}">-->
    <!--        <tr>-->
    <!--            <td><span th:text="${orderedItems.getFirstName()}"></span></td>-->
    <!--        <tr>-->
    <!--            <td>-->
    <!--                <span th:text="${orderedItems.getFirstName()}"></span>-->
    <!--            </td>-->
    <!--            <td>-->
    <!--                <span th:text="${customer.getLastName()}"></span>-->
    <!--            </td>-->
    <!--            <td>-->
    <!--                <span th:text="${}"></span>-->
    <!--            </td>-->
    <!--        </tr>-->
    <!--        </tr>-->
    <!--        </tbody>-->
    <!--    </table>-->


    <a th:href="@{/cart/}">
        <button class="btn btn-success btn-block btn-lg" type="button">
            zum Warenkorb
        </button>
    </a>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>