<!DOCTYPE html>
<html lang="whz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <head th:include="fragments/header :: head">
    </head>

<body>
<div th:include="fragments/body :: nav"></div>

<div class="container">
    <h2 th:if="${!balance}">Nicht genug Geld</h2>
    <h2 th:if="${balance}">Ihre Bestellung ist erfolgreich!</h2>

    <table class="table table-hover table-bordered table-sm" th:each="order : ${orderedList}">

        <thead>
        <tr>
            <th>Ordered Id</th>
            <th colspan="3">Ordered Items</th>
        </tr>
        </thead>


        <tbody>

        <tr>
            <td>
                <span th:text="${order.getId()}"></span>
            </td>
            <td>
                <table class="table table-hover table-bordered table-sm" th:each="orderedItem : ${order.getItems()}">

                    <thead>
                    <tr>
                        <th>OrderedItem id</th>
                        <th>Pizza Name</th>
                        <th>Pizza Size</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <span th:text="${orderedItem.getId()}"></span>
                        </td>
                        <td>
                            <span th:text="${orderedItem.getName()}"></span>
                        </td>

                        <td>
                            <span th:text="${orderedItem.getSize()}"></span>
                        </td>

                        <td>
                            <span th:text="${orderedItem.getQuantity()}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/cart/}">
        <button class="btn btn-success btn-block btn-lg" type="button">
            zum Warenkorb
        </button>
    </a>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>